<p>The Course Reserves video service is designed to allow you to stream
clips of video for students to access for course-related work. Please
note the following guidelines:</p>
<ul>
	<li>Like other material uploaded into My Course Reserves, video
excerpts are reviewed for copyright compliance. Please review our
video copyright guidelines.</li>
	<li>We can accept videos in many popular formats (*.flv, *.mpg, *.mov,
*.avi, etc). </li>
	<li>Flash video (*.flv) will be posted immediately to your class and
available to your students </li>
	<li>All other video formats will be converted to Flash before being
made available to students. File conversion is automated; conversion
times (time from when you upload video to when it is available to
students) will vary based on how long the video is and how much video
is waiting for conversion at any given time. Please be patient. You
will receive emails when your video is accepted for processing and when it
is complete and available for students to view</li>
	<li>Please be as complete as possible when filling in the descriptive
fields below </li>
</ul>